<div class="topnav">
    <img src="/assets/logo.png" alt="Logo" class="logo" />
  
    <div class="search-bar">
      <input type="text" placeholder="Tìm kiếm..." />
      <mat-icon>search</mat-icon>
    </div>
  
    <div class="user-actions">
      <span class="username">{{ username }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Đăng xuất</button>
      </mat-menu>
    </div>
  </div>