.example-container {
    width: 500px;
    height: 100%;
    border-right: 1px solid #ddd;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  