<nav class="navbar">
    <div class="logo" (click)="navigateHome()">MyApp</div>
  
    <div class="user-menu" (click)="toggleDropdown()">
      <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        viewBox="0 0 16 16">
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" />
      </svg>
  
      <div class="dropdown" *ngIf="showDropdown">
        <button (click)="logout()">Đăng xuất<td></td></button>
      </div>
    </div>
  </nav>
  