/* Tổng layout */
:host {
  display: block;
  height: 100vh;
  padding: 0;
  background-color: #f8f8f8;
  font-family: 'Segoe UI', sans-serif;
}

/* Container chứa sidenav và nội dung */
.layout-container {
  display: flex;
  height: calc(100vh - 64px); /* Giả sử topnav cao 64px */
  overflow: hidden;
}

/* Nội dung chính */
.main-content {
  flex-grow: 1;
  padding: 24px;
  background-color: #f9f9f9;
  overflow-y: auto;
  color: #333333;
}

.navigate-button,
.logout-button {
  margin-right: 10px;
  margin-top: 10px;
}
