
<app-topnav></app-topnav>
<div class="blacklist-container">
  <app-sidenav></app-sidenav>
  <div class="main-content">
    <div class="container">
      <h2>Quản lý Danh sách đen</h2>


      <div class="search-form">
        
      </div>

      <div class="blacklist-table">
        <div class="blacklist-row blacklist-header">
          <div>ID</div>
          <div>CCCD</div>
          <div>Họ tên</div>
          <div>Công ty</div>
          <div>Lỗi vi phạm</div>
          <div>Ngày bắt đầu cấm</div>
          <div>Ngày kết thúc cấm</div>
          <div>Tạo bởi</div>
          <div>Thời gian tạo</div>
          <div>Ghi chú</div>
          <div>Hành động</div>
        </div>
        <div class="blacklist-row" *ngFor="let item of blacklist">
          <div>
            <label>
              <input [(ngModel)]="item.id" readonly />
            </label>
          </div>
          <div>
            <label>
              <input [(ngModel)]="item.cccd" placeholder="Nhập CCCD" />
            </label>
          </div>
          <div>
            <label>
              <input [(ngModel)]="item.fullname" placeholder="Nhập họ tên" />
            </label>
          </div>
          <div>
            <label>
              <input [(ngModel)]="item.company" placeholder="Nhập công ty" />
            </label>
          </div>
          <div>
            <div class="tooltip-wrapper">
              <input [(ngModel)]="item.violation" placeholder="Nhập lỗi vi phạm" />
              <span class="custom-tooltip">{{ item.violation }}</span>
            </div>
          </div>
          <div>
            <label>
              <input [value]="formatDateDisplay(item.penalty_start)" readonly />
            </label>
          </div>
          <div>
            <label>
              <input [value]="formatDateDisplay(item.penalty_end)" placeholder="Nhập ngày kết thúc cấm" />
            </label>
          </div>
          <div>
            <label>
              <input [(ngModel)]="item.created_by" placeholder="Nhập người tạo" readonly />
            </label>
          </div>
          <div>
            <label>
              <input [value]="formatDateDisplay(item.created_at)" readonly/>
            </label>
          </div>
          <div>
            <div class="tooltip-wrapper">
              <input [(ngModel)]="item.note" placeholder="Nhập ghi chú" />
              <span class="custom-tooltip">{{ item.note }}</span>
            </div>
          </div>
          <div>
            <button (click)="editBlacklist(item)">Sửa</button>
            <button (click)="deleteBlacklist(item)">Xoá</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-notification" *ngIf="popupMessage">
  {{ popupMessage }}
</div>
