/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body và html full height, font */
  html, body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5; /* nếu muốn đồng bộ màu nền */
  }
  